<div class="row">
  <div class="nine columns">
    <h4>Projects</h4>
  </div>
  <div class="three columns">
    <%= link_to "New project", new_admin_project_path, class: "button" %>
  </div>
</div>

<div class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr class="<%= cycle('grey', '') %>">
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td>
            <%= link_to "Edit", edit_admin_project_path(project) %>
            <%= link_to "Delete", admin_project_path(project), method: :delete, data: {confirm: "This project and all its tickets will be deleted. Are you sure?"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="nine columns">
    <h4>Tickets extensions</h4>
  </div>
  <div class="three columns">
    <%= link_to "New extension", new_admin_extension_path, class: "button" %>
  </div>
</div>

<% Extension.where(target_model: "Ticket").order("position").each do |extension| %>
  <div class="row">
    <b><%= extension.position %></b> <%= extension.label %> (<%= extension.attr_type %>)
    <%= link_to "Edit", edit_admin_extension_path(extension) %>
    <%= link_to "Delete", admin_extension_path(extension), method: :delete %>
  </div>
<% end %>
