<div class="row">
  <div class="ten columns">
    <h4>Tickets</h4>
  </div>
  <div class="two columns">
    <%= link_to "New ticket", new_ticket_path, class: "button" %>
  </div>
</div>

<div class="row u-full-width">  
  <table>
    <thead>
      <tr>
        <th>Project</th>
        <th>Ticket#</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.project.name %></td>
          <td><%= ticket.id %></td>
          <td><%= link_to ticket.title, ticket_path(ticket) %></td>
          <td><%= truncate(ticket.description, length: 50) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
