<h4>Ticket# <%= @ticket.id %></h4>

<div class="row">
  <b>Project</b>:<br />
  <%= @ticket.project.name %>
</div>
<br />

<div class="row">
  <b>Title</b>:<br />
  <%= @ticket.title %>
<div>
<br />

<div class="row">
  <b>Description</b>:<br />
  <%= simple_format(@ticket.description) %>
</div>

<div class="row">
  <%= link_to "Edit", edit_ticket_path(@ticket), class: "button" %>
  <%= link_to "Delete", ticket_path(@ticket), method: :delete, class: "button", data: {confirm: "Delete this ticket?"} %>
</div>
