<!DOCTYPE html>
<html>
<head>
  <title>Elastickets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="ten columns">
        <h2>
          <% if controller.is_a?(AdminController) %>
            <a class="logo" href="<%= admin_path %>">Elastickets Admin</a>
          <% else %>
            <a class="logo" href="<%= root_path %>">Elastickets</a>
          <% end %>
        </h2>
      </div>
      <div class="two columns">
        <p class="u-pull-right">
          <% if controller.is_a?(AdminController) %>
            <%= link_to "&laquo; Back to Tickets".html_safe, root_path %>
          <% else %>
            <%= link_to "Settings", admin_path %>
          <% end %>
        </p>
      </div>
    </div>
    <hr />

    <!-- flash messages -->
    <% if flash.present? -%>
      <% flash.each do |msg_type, msg|%>
        <div class="flash <%= msg_type %>"><%= msg %></div>
      <% end %>
    <% end -%>

    <%= yield %>
  </div>
</body>
</html>
